[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.6"
djangorestframework = "==3.15.1"
djangorestframework-simplejwt = "==5.3.1"
django-environ = "==0.11.2"
drf-spectacular = "==0.27.2"
django-cors-headers = "==4.3.1"
channels = "==4.1.0"
channels-redis = "==4.2.0"
celery = "==5.4.0"
redis = "==5.0.4"
argon2-cffi = "==23.1.0"
pgvector = "==0.2.5"
whitenoise = "==6.6.0"
gunicorn = "==22.0.0"
pytest = "==8.2.0"
pytest-django = "==4.8.0"
factory-boy = "==3.3.0"
psycopg = {extras = ["binary"], version = "==3.1.19"}
django-storages = {extras = ["boto3"], version = "==1.14.3"}
uvicorn = {extras = ["standard"], version = "==0.29.0"}

[dev-packages]

[requires]
python_version = "3.12"
